{:paths ["clj"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.0"}
  http-kit/http-kit {:mvn/version "2.5.3"}
  metosin/reitit-core {:mvn/version "0.5.18"}
  metosin/reitit-ring {:mvn/version "0.5.18"}
  metosin/reitit-middleware {:mvn/version "0.5.18"}
  metosin/reitit-schema {:mvn/version "0.5.18"}
  metosin/muuntaja {:mvn/version "0.6.8"}}}
